<p id="notice"><%= notice %></p>

<h2 style='text-align:center'>Posts</h2>

<div id="main">

  <% @posts.each do |post| %>
    <div id="post">
      <figure>
            <p><strong>Title : </strong><%= post.title %></p><br>
            <p><strong>Description : </strong><%= post.description %></p>
            <figcaption> On pourra ajouter des infos sup. ici </figcaption>
      </figure>
    </div>
  <% end %>

</div>
