/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  margin:0;
  top:0;

#nav {
  height:auto;
  width:100%;
  padding:3vh 0;

  h1 {
    font-size: 2em;
    border-right: 1px solid #4A4A4A;
  }

  .item {
    display: inline-block;
    vertical-align: middle;
    padding:0 4vh;
  }
}

#main {
  text-align: center;

#post {
  border:1px solid black;
  display:inline-block;
  padding:3vh;

  figure {

    p {
      margin:0;
    }

    figcaption {
      padding:1vh 0;
      &::before {
        content:"";
        display: block;
        margin:2vh auto;
        width:80%;
        height:1px;
        background-color: #4A4A4A;
        }
      }
    }
  }
}


}
