<h2> Sudo Team </h2>

<p style='text-align:center;width:70%;margin:3vh auto;font-family:"Slabo 27px", serif;'> Ce site a été développé sous Ruby On Rails par Roxane Dulhoste, Bastien Bahuet et Mathieu Harribey. </p>


    <div style='text-align:center;width:80%;margin:auto'>
        <figure class="project">
            <%= image_tag("rox.jpg") %>
            <figcaption> <i> Roxane </i> </figcaption>
            <a href="http://roxanedulhoste.fr/"> </a>
        </figure>

        <figure class="project">
            <%= image_tag("bastien.jpg") %>
            <figcaption> <i> Bastien </i> </figcaption>
            <a href="http://bastienbahuet.fr/"> </a>
        </figure>

        <figure class="project">
            <%= image_tag("mat.jpg") %>
            <figcaption> <i> Mathieu </i> </figcaption>
            <a href="http://mathieuharribey.fr/"> </a>
        </figure>
    </div>
