<h2> Sudo Team </h2>

<p> Ce site a été développé sous Ruby On Rails par Roxane Dulhoste, Bastien Bahuet et Mathieu Harribey. </p>

<figure class="project">
    <img src="images/rox.jpg" alt="roxane dulhoste" />
    <figcaption> <i> Roxane </i> </figcaption>
    <a href="http://roxanedulhoste.fr/"> </a>
</figure>

<figure class="project">
    <img src="images/bastien.jpg" alt="bastien bahuet" />
    <figcaption> <i> Bastien </i> </figcaption>
    <a href="http://bastienbahuet.fr/"> </a>
</figure>

<figure class="project">
    <img src="images/mat.jpg" alt="mathieu harribey" />
    <figcaption> <i> Mathieu </i> </figcaption>
    <a href="http://mathieuharribey.fr/"> </a>
</figure>
